@font-face {
  font-family: "Trap";
  src: url("./Trap-Light\ 300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("./Trap-Regular\ 400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("./Trap-Medium\ 500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("./Trap-SemiBold\ 600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("./Trap-Bold\ 700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trap";
  src: url("./Trap-ExtraBold\ 800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trap";
  src: url("./Trap-Black\ 900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
